* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans',sans-serif;
}

.wrapper {
    width: 1100px;
    margin: auto;
    position: relative;
}

.logo a {
    font-size: 35px;
    font-weight: 800;
    float: left;
    font-family: courier;
    color: #0c1ada;
}

.menu {
    float: right;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    line-height: 90px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: #ffffff;
    z-index: 1;
    border-bottom:1px solid #0F0F0F;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 10;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #6973f8; 
    transition: .5s ease-in-out;
    transition-delay: .1s;
    border-radius: 20px; 
}

section {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

.kolom {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 20px;
}

.kolom .deskripsi {
    font-size: 20px;
    font-weight: bold;
    font-family: 'comic sans ms';
    color: #0802A3;
}

h2 {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 20px;
    color: #0802A3;
    width: 100%;
    line-height: 50px;
}

a.tbl-biru {
    background: #3876BF;
    border-radius: 20px;
    margin: 20px;
    padding: 15px 20px 15px 20px;
    color: #ffff;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-biru:hover {
    background: #0cda39;
    text-decoration: none;
    transition: .5s ease-in-out;
    transition-delay: .1s;
}

a.tbl-hijau {
    background: #0cda39;
    border-radius: 20px;
    margin: 20px;
    padding: 15px 20px 15px 20px;
    color: #ffff;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-hijau:hover {
    background: #0c1ada;
    text-decoration: none;
    transition: .5s ease-in-out;
    transition-delay: .1s;
}

p {
    margin: 10px 0px 10px 0px;
    padding: 20px 0px 20px 0px;
}

.tengah {
    text-align: center;
    width: 100%;
}

.detail-list {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.kartu-detail {
    width: 20%;
    margin: 0 auto;
}

.kartu-detail img {
    width: 80%;
    border-radius: 50%;
}

.kartu-detail h2 {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 18px;
    text-align: center;
    color:#0c1ada;
}


.kartu-detail p {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 12px;
    text-align: center;
    color:#0F0F0F;
}

.sosmed-list {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.kartu-sosmed {
    width: 20%;
    margin: 0 auto;
}

.kartu-sosmed img {
    width: 30%;
    aspect-ratio: 1/1;
    border-radius: 30%;
}

#contact {
    background: rgb(128, 126, 126);
    padding:50px 0px 50px 0px;
}

.footer {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.footer-section {
    width: 20%;
    margin: 0 auto;
}

h3 {
    font-family: comic sans ms;
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 20px;
    color:#0c1ada;
    width: 100%;
    line-height: 50px;
}

#copyright {
    text-align: center;
    width: 100%;
    padding: 50px 0px 50px 0px;
    margin-top: 50px;
}

@media screen and (max-width: 991.98px) {
    .wrapper {
        width: 85%;
    }

    .logo a {
        display: block;
        width: 100%;
        text-align: center;
    }

    nav .menu {
        width: 100%;
        margin: 0;
    }

    nav .menu ul {
        text-align: center;
        margin: auto;
        line-height: 60px;
    }

    nav .menu ul li {
        display: inline-block;
        float: none;
    }

    section {
        display: block;
    }

    section img {
        display: block;
        width: 100%;
        height: auto;
    }
    .kartu-detail {
        width: 30%;
    }

    .kartu-sosmed {
        width: 30%;
    }
}